**/*.fasta.gz
**/*.fasta
**/*.gbk
**/*.gbff
**/.DS_Store
**/*.log
**/*.dat
**/toto*
ports/** 
/test/
/samples/
data/cds/sp_chlorodb/genes
data/cds/sp_chlorodb/rawdata
phylonorway
src/gnuparallel/build.i386-darwin
!data/**
data/**/*.log
data/rrna/RRNA_*/*.fasta.gz 
data/rrna/RRNA_*/*/*.fasta.gz 
data/ir/*.fasta.gz 
