**/*.fasta.gz
**/*.fasta
**/*.gbk
**/.DS_Store
**/*.log
**/*.dat
/test/
/samples/
/toto.embl
/toto.fasta
/toto.log
data/cds/sp_chlorodb/genes
data/cds/sp_chlorodb/rawdata
phylonorway
src/gnuparallel/build.i386-darwin
!data/** 