/16S.goodali.rc.fst
/23S.goodali.rc.fst
/4.5S.goodali.rc.fst
/5S.goodali.rc.fst
/plast_RRNA_16S_RC.hmm
/plast_RRNA_16S.hmm
/plast_RRNA_23S_RC.hmm
/plast_RRNA_23S.hmm
/plast_RRNA_4.5S_RC.hmm
/plast_RRNA_4.5S.hmm
/plast_RRNA_5S_RC.hmm
/plast_RRNA_5S.hmm
/.DS_Store
