/util_codon_skew
/util_codon_skew_corr
/util_complinv
/util_cut
/util_skew
/util_skew_chi_mono
/util_skew_mono
/util_skew_teta
/util_tab_aa
/util_tab_codon
/util_tab_dinuc
/util_tab_nuc
/util_translate
